<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RobotROS">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.48309153209991E-06 3.60672325339095E-11 0.0280471670298833"
        rpy="0 0 0" />
      <mass
        value="0.380110289469191" />
      <inertia
        ixx="0.00128623683189621"
        ixy="-1.85011347063901E-13"
        ixz="-4.08987092760032E-12"
        iyy="0.00128623683211484"
        iyz="3.05496947183848E-13"
        izz="0.00218003078926772" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="back_wheel">
    <inertial>
      <origin
        xyz="-1.7554E-09 -4.8902E-09 0.0092664"
        rpy="0 0 0" />
      <mass
        value="0.012622" />
      <inertia
        ixx="1.1768E-06"
        ixy="-3.1606E-14"
        ixz="2.0572E-13"
        iyy="1.1768E-06"
        iyz="-7.3844E-14"
        izz="1.7117E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/back_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/back_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="backwheel"
    type="continuous">
    <origin
      xyz="-0.105 -0.00025 0.005"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="back_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="10"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-5.1917E-09 -2.9353E-09 -0.0097336"
        rpy="0 0 0" />
      <mass
        value="0.012622" />
      <inertia
        ixx="1.1768E-06"
        ixy="1.518E-14"
        ixz="3.441E-13"
        iyy="1.1768E-06"
        iyz="-6.0386E-14"
        izz="1.7117E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightwheel"
    type="continuous">
    <origin
      xyz="0.00025 0.105 0.005"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="10"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="front_wheel">
    <inertial>
      <origin
        xyz="-4.1812E-09 -2.6849E-09 -0.0097336"
        rpy="0 0 0" />
      <mass
        value="0.012622" />
      <inertia
        ixx="1.1768E-06"
        ixy="-3.2363E-14"
        ixz="1.0854E-13"
        iyy="1.1768E-06"
        iyz="-1.6904E-13"
        izz="1.7117E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="frontwheel"
    type="continuous">
    <origin
      xyz="0.105 0.00025 0.005"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="front_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="10"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotROS/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftwheel"
    type="continuous">
    <origin
      xyz="0.00025 -0.105 0.005"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="10"
      velocity="10" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
</robot>