<launch>
  <!-- Set the path to the world file -->
  <arg name="world_file" default="$(find robot_ros)/worlds/bilikuia.world"/>

  <!-- Launch Gazebo with your world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn your robot in the world -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find robot_ros)/urdf/RobotROS.urdf'" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description
              -urdf
              -model your_robot
              -x 0 -y 0 -z 0.1"/>
</launch>
