<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.0417400568008E-06 1.08229813999827E-11 0.0714774072645423"
        rpy="0 0 0" />
      <mass
        value="1.27136139146919" />
      <inertia
        ixx="0.00397004588054823"
        ixy="-1.850117093916E-13"
        ixz="2.45762393456128E-11"
        iyy="0.00397004588076686"
        iyz="3.05501826093624E-13"
        izz="0.00534776920391384" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="back_wheel">
    <inertial>
      <origin
        xyz="-1.75542808067419E-09 -4.890175708816E-09 0.00926636601840403"
        rpy="0 0 0" />
      <mass
        value="0.0126216164739426" />
      <inertia
        ixx="1.17679303458279E-06"
        ixy="-3.16062792439822E-14"
        ixz="2.05720262624783E-13"
        iyy="1.17679295787663E-06"
        iyz="-7.38438787771429E-14"
        izz="1.71166372145335E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/back_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/back_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="backwheel"
    type="continuous">
    <origin
      xyz="-0.105 -0.00025 0.005"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="back_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="10"
      velocity="30" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-5.19170240131928E-09 -2.93530445782952E-09 -0.00973363513048742"
        rpy="0 0 0" />
      <mass
        value="0.0126216058829943" />
      <inertia
        ixx="1.17679227558527E-06"
        ixy="1.51797154272566E-14"
        ixz="3.44100087485271E-13"
        iyy="1.17679178791192E-06"
        iyz="-6.03862210894553E-14"
        izz="1.7116620763106E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightwheel"
    type="continuous">
    <origin
      xyz="0.00025 0.105 0.005"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="10"
      velocity="30" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="front_wheel">
    <inertial>
      <origin
        xyz="-4.18124887491267E-09 -2.68489067090094E-09 -0.00973363398240126"
        rpy="0 0 0" />
      <mass
        value="0.0126216170924234" />
      <inertia
        ixx="1.17679300152403E-06"
        ixy="-3.23627230233793E-14"
        ixz="1.0854249038264E-13"
        iyy="1.17679303114236E-06"
        iyz="-1.69035987730949E-13"
        izz="1.71166373991957E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="frontwheel"
    type="continuous">
    <origin
      xyz="0.105 0.00025 0.005"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="front_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="10"
      velocity="30" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-2.99799188252514E-09 7.22680369713569E-09 0.00973363592864985"
        rpy="0 0 0" />
      <mass
        value="0.0126216020866321" />
      <inertia
        ixx="1.17679176943093E-06"
        ixy="7.65690623706089E-14"
        ixz="-1.29618974856075E-13"
        iyy="1.17679167865913E-06"
        iyz="-2.06297203114994E-13"
        izz="1.71166156539549E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robot/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftwheel"
    type="continuous">
    <origin
      xyz="0.00025 -0.105 0.005"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="10"
      velocity="30" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
</robot>